@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  direction: rtl;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
}
.line {
  position: absolute;
  background: #ff0bac;
  border-radius: 10px;
}
.line-1,
.line-3 {
  height: 5px;
  width: 75%;
  left: 12.5%;
}
.line-1 {
  top: 15px;
}
.line-3 {
  top: calc(100% - 15px);
}
.line-2,
.line-4 {
  width: 5px;
  height: 85%;
  top: 10%;
}
.line-2 {
  right: 15px;
}
.line-4 {
  left: 15px;
}
@media (max-width: 666px) {
  .line-3 {
    top: 102.5%;
  }
}
body {
  background-color: #333;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  min-height: 100vh;
}
.card .img img {
  height: 250px;
}
.card .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  max-width: 90%;
}
.card .right .content {
  color: white;
  text-align: center;
}
.card .right .content p {
  margin: 25px 10% 25px 0;
  width: 80%;
}
.card .right .contact-us a {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #ff0bac;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  font-size: 22px;
  background: rgb(47, 33, 51);
  transition: 0.4s;
}
.card .right .contact-us a.whatsapp:hover {
  background: #4dcf6a;
  color: white;
}

.card .right .contact-us a.email:hover {
  background: #cf4d4d;
  color: white;
}

.card .right .contact-us a.tel:hover {
  background: #cccf4d;
  color: white;
}

.card .right .links {
  margin: 20px 0;
}
.card .right .links ul {
  list-style: none;
}
.card .right .links ul li {
  margin: 10px 0;
}
.card .right .links ul li i {
  color: white;
  margin-left: 20px;
  font-size: 18px;
}
.card .right .links ul li a {
  color: white;
}
.location {
  margin-top: 10px;
}
.location i {
  color: white;
  margin-left: 20px;
}
.location a {
  color: white;
}
@media (max-width: 670px) {
  .card {
    padding: 20px 0;
  }
  .card .img {
    margin-top: 40px;
  }
  .card .img img {
    width: 200px !important;
    height: 200px !important;
  }
  .card .right .links ul {
    text-align: center;
  }
}
