@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
body {
  background: #33313f;
}
@media (max-width: 670px) {
  #bg {
    transform: rotate(270deg);
  }
  .card {
    flex-direction: column-reverse;
    margin-left: 10px;
    padding: 30px 0;
  }
  .card > div {
    width: 100% !important;
    margin: 0 !important;
  }
  .card .img img {
    width: 150px !important;
    height: 150px !important;
  }
  .card .right {
    margin-top: 45px !important;
  }
  .card .right .links {
    text-align: center;
  }
  .location {
    margin-top: 40px !important;
  }
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.card .img {
  width: 40%;
  display: grid;
  place-items: center;
}
.card .img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.card .right {
  direction: rtl;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card .right .content {
  color: white;
  text-align: center;
  width: 80%;
}
.card .right .content h1 {
  font-family: "Secular One", sans-serif;
}
.card .right .contact-us {
  margin: 20px 0;
}
.card .right .contact-us a {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin: 0 5px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border-radius: 50% 50%;
  color: white;
  background: #524cc375;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card .right .contact-us a.whatsapp {
  color: #4dcf6a;
}
.card .right .contact-us a.whatsapp:hover {
  background: #4dcf6a;
  color: white;
}

.card .right .contact-us a.email {
  color: #cf4d4d;
}
.card .right .contact-us a.email:hover {
  background: #cf4d4d;
  color: white;
}

.card .right .contact-us a.tel {
  color: #cccf4d;
}
.card .right .contact-us a.tel:hover {
  background: #cccf4d;
  color: white;
}

.card .right .links ul {
  list-style: none;
}
.card .right .links ul li {
  margin: 10px 0;
}
.card .right .links ul li i {
  color: white;
  margin-left: 20px;
  font-size: 18px;
}

.card .right .links ul li a {
  color: white;
}
.location {
  margin-top: 50px;
}
.location i {
  color: white;
  margin-left: 20px;
}
.location a {
  color: white;
}
.bg.horizontal {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1;
}
.bg.vertical {
  transform: rotate(270deg);
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  z-index: -1;
}
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
