
<style>
    *{
        padding: 0;
        margin: 0;
    }
    .loading-screen{
        direction: rtl;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .loading-screen img{
        width: 200px;
    }
    .loading-screen h2{
        margin-top: 10px;
    }
</style>
<div class="loading-screen">
    <img src="../screen_loader.gif" alt=""/>
    <h2>טוען..</h2>
</div>