<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/top') %>
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="css/Home.css" type="text/css">

    <meta property="og:image" content="">
    <meta property="og:title" content="D&M bcard">
    <meta property="og:description" content="מערכת שמאפשרת לכולם לקבל דף באינטרנט, דף איכותי ויפה.">

</head>
<body>
<%- include('../partials/header') %>
<div class="container">
    <div class="content" data-aos="fade-up" data-aos-delay="500">
        <p style="font-weight: bold;">
            בעלי מקצוע? בעלי עסקים קטנים?
            <br />
             במקום להסתבך עם יצירת אתר, בואו וצרו כרטיס ביקור דיגיטלי -
             <span class="underline">בחינם לגמרי!</span>
            </p>
        <% if(bcard == 'exist') { %>
            <a href="/dashboard">
                <button class="CreateCard bg-hover-darker">
                    לניהול הכרטיס
                    &#8250;
                </button>
            </a>
        <% } else { %>
            <a href="<%= username != 'undefined' ? '/create' : '/signup' %>">
                <button class="CreateCard bg-hover-darker">
                    צור כרטיס
                    &#8250;
                </button>
            </a>
        <% } %>
    </div>
    <div class="img" data-aos="fade-down" data-aos-delay="500">
        <img src="imgs/mainpage.svg" alt="">
    </div>
</div>
<div class="contact-me">
    <div class="text">
        <h2>עיצוב \ הדפסת כרטיסי ביקור</h2>
        <p>עיצוב חדשני, איכותי ומרשים - החל מ200₪.</p>
    </div>
    <div class="form">
            <% if(typeof formSent !== 'undefined' && formSent === 'success') { %>
                <div class="sent">
                    <img width="150px" src="../imgs/sent.svg" alt="">
                    <span>הטופס נשלח בהצלחה, אצור איתך קשר!</span>
                </div>
            <% } else { %>
                <div class="svg">
                    <img width="300px" src="../imgs/contact-us.svg" alt="">
                </div>
                <form action="/" method="POST">
                    <input type="tel" name="phone" placeholder="מספר טלפון" required>
                    <textarea placeholder="הודעה" name="message" required></textarea>
                    <button>שליחה</button>
                    <small>שום פרט שלכם לא נשמר למטרות אחרות.</small>
                </form>
            <% } %>
    </div>
</div>
<%- include('../partials/bottom') %>