<div class="input-group">
    <div class="inputs-i">
        <input oninput="ltrInput(this)" type="text" id="facebook_username" name="facebook_username" placeholder="שם משתמש בפייסבוק">
        <input oninput="ltrInput(this)" type="text" id="facebook_link" name="facebook_link" placeholder="קישור לפייסבוק">
    </div>
    <label for="facebook_username"></label>
    <span class="bottom-note"></span>
</div>
<div class="input-group">
    <div class="inputs-i">
        <input oninput="ltrInput(this)" type="text" id="instagram_username" name="instagram_username" placeholder="שם משתמש באינסטגרם">
        <input oninput="ltrInput(this)" type="text" id="instagram_link" name="instagram_link" placeholder="קישור לאינסטגרם">
    </div>
    <span class="instagram_username"></span>
    <span class="bottom-note"></span>
</div>
<div class="input-group">
    <div class="inputs-i">
        <input oninput="ltrInput(this)" type="text" id="twitter_username" name="twitter_username" placeholder="שם משתמש בטוויטר">
        <input oninput="ltrInput(this)" type="text" id="twitter_link" name="twitter_link" placeholder="קישור לטוויטר">
    </div>
    <span class="twitter_username"></span>
    <span class="bottom-note"></span>
</div>
<div class="input-group">
    <div class="inputs-i">
        <input oninput="ltrInput(this)" type="text" id="tiktok_username" name="tiktok_username" placeholder="שם משתמש בטיקטוק">
        <input oninput="ltrInput(this)" type="text" id="tiktok_link" name="tiktok_link" placeholder="קישור לטיקטוק">
    </div>
    <span class="tiktok_username"></span>
    <span class="bottom-note"></span>
</div>