<div class="input-group">
    <button type="button" id="logo-btn">העלאת לוגו <i class="fas fa-arrow-circle-up"></i></button>
    <input type="file" id="logo" accept="image/png, image/jpeg" name="logo" hidden>
    <label for="logo"></label>
    <span class="bottom-note"></span>
    <img src="" alt="">
</div>